<!DOCTYPE html>
{%extends 'myapp/base.html'%}
{%block bodyblock%}

   <div class="container">
    <div class="row d-flex justify-content-center mt-lg-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-center bg-info text-white">
                   <p class="h3">Login Here</p>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {%csrf_token%}
                        {{form.as_p}}
                        <button class="btn btn-sm btn-outline-info ms-5">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
   </div>

{%endblock%}

