<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% load widget_tweaks %}

{% block contentblock   %}
   <div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card mt-5">
                <div class="card-header text-center text-white bg-primary">
                   <p class="h2"> ADD / UPDATE Student</p>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {%csrf_token%}
                        <div class="mb-3">
                            {{form.StudentId|add_class:"form-control"|attr:"placeholder=StudentId"}}
                        </div>
                         <div class="mb-3">
                            {{form.StdentName|add_class:"form-control"|attr:"placeholder=StudentName"}}
                        </div>
                         <div class="mb-3">
                            {{form.StudentMarks|add_class:"form-control"|attr:"placeholder=StudentMarks"}}
                        </div>
                        <button class="btn btn-md btn-outline-primary">Save</button>
                        <a href="/" class="btn btn-outline-warning float-end">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
   </div>
{% endblock %}